@import "tailwindcss";

@theme {
  --color-primary-100: rgba(136, 84, 192, 1);
  --color-primary-200: rgba(211, 60, 67, 1);
  --color-primary-300: rgba(29, 30, 38, 1);
  --color-primary-400: rgba(48, 48, 61, 1);

  --color-white-100: rgba(218, 218, 218, 1);
  --color-white-max: rgba(255, 255, 255, 1);

  --color-green-100: rgba(29, 146, 0, 1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(23, 24, 30, 1);
  font-family: "Source Sans Pro", sans-serif;
}
